/* custom animations */
@keyframes fadeInUp{
    0%{
        transform: translateY(10%);
        opacity: 0;
    } 
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeInDown{
    0%{
        transform: translateY(-10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeOutDown{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(-10%);
        opacity: 0;
    }
}

@keyframes fadeInLeft{
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #334E58;
}

body{
font-family: 'Cambria', serif;
background-color: #254441;
color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

h1{
    font-family: 'Gloock', serif;
    font-size: 36px;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 16px;
}

.home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
/* desktop nav */
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-brand{
    font-family: 'Gloock', serif;
    font-size: 2rem;
    color: #f5b603;
    animation: 1.0s fadeInDown;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:#f5b603;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/*landing page section*/
.landing-page{
background-color: #c67421;
padding: 40px;
border-radius: 15px;
max-width: 400px;
}

.link{
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
margin: 10px 0;
background-color: #f5b603;
color: #000000;
text-decoration: none;
border-radius: 10px;
font-size: 18px;
transition: background-color 0.3s;
}

.link i{
margin-right: 10px;
font-size: 20px;
}

.link:hover{
background-color: white;
}

.link:active{
background-color: #fbc222;
}
/*project page section*/
.proj-sec-header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 1.5%;
    animation: 1.5s fadeInLeft;
}

.proj-intro-paragraph-container{
    display: flex;
    margin: 0 auto;
    width: 900px;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: 1.5s fadeInLeft;
}

.proj-intro-paragraph{
    font-size: 13.5pt;
}

.proj-intro{
    display: block;
    width: 75%;
    text-align: center;
    margin-top: 10px;
}

.github{
    margin-top: 15px;
    margin-left: 5px;
    width: 2%;
    filter: invert(100%)
}

.card-link{
    color: #f5b603;
}
/*project main content*/ 
.snippet-heading{
  font-family: 'Gloock', serif;
  color: #f5b603;
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.6s ease;
}

.proj-main{

    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nixos-card {
    background-color: transparent;
    width: 300px;
    height: 550px;
    border: 1px solid #f1f1f1;
    animation: 1.5s fadeInUp;
}

.summer-research-card{
    background-color: transparent;
    width: 300px;
    height: 550px;
    border: 1px solid #f1f1f1;
    animation: 2s fadeInDown;
}

.pyxl-card{
    background-color: transparent;
    width: 300px;
    height: 550px;
    border: 1px solid #f1f1f1;
    animation: 2.5s fadeInUp;
}
/* likely refactor to contain all same styling */
.nixos-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    padding: 10px;
}

.research-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    padding: 10px;
}

.pyxl-inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/* shift vertical centered header up, make pretty */
.info-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    animation: 1.0s fadeInDown;
    transition: justify-content 1s ease;
}

.info-section.revealed {
    justify-content: flex-start;
    animation: 1.5s fadeOutDown forwards, 2.0s fadeInUp forwards;
}

/* paragraph hidden by default */
.card-text {
    opacity: 0;
    text-align: left;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    max-height: 0;
    overflow: hidden;
}

/* when shown, fade/slide into view */
.info-section.revealed .card-text{
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
    margin-top: 20px;
}

/* photography page */
.img-grid{
    /* learned something new, variables can be made with -- convention */
    --gap: 5px;
    --num-cols: 4;
    --row-height: 350px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.img-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grid-col-2{
    grid-column: span 2;
}

.img-grid-row-2{
    grid-row: span 2;
}

.photography-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img{
    cursor: pointer;
    transition: 0.3s all ease;
}

.img:hover {transform: scale(1.01);}

/* modal */
.modal{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-img{
    margin-top: 6em;
    max-width: 900px;
    max-height: 700px;
    border: 2px solid #f1f1f1;
}

.modal-text{
    margin-top: 1em;
    animation: zoom 0.3s linear;
}

.close{
    position: absolute;
    transform: scale(2);
    top: 1.5em;
    right: 20%;
    cursor: pointer;
}

.modal.appear{
    opacity: 1;
    pointer-events: all;
}

.modal.appear .modal-img, 
.modal.appear .modal-text{
    animation: zoom 0.3s linear;
}

@keyframes zoom{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* responsive stuff */
@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #334E58;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .proj-main{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}