*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #334E58;
}

body{
font-family: 'Cambria', serif;
background-color: #254441;
color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

h1{
    font-family: 'Gloock', serif;
    font-size: 36px;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 16px;
}

.home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
/*hamburger nav responsiveness*/
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-brand{
    font-family: 'Gloock', serif;
    font-size: 2rem;
    color: #f5b603;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:#f5b603;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #334E58;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .proj-main{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
/*landing page section*/
.landing-page{
background-color: #c67421; /* Semi-transparent background for readability */
padding: 40px;
border-radius: 15px;
max-width: 400px;
}

.link{
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
margin: 10px 0;
background-color: #f5b603;
color: #000000;
text-decoration: none;
border-radius: 10px;
font-size: 18px;
transition: background-color 0.3s;
}

.link i{
margin-right: 10px;
font-size: 20px;
}

.link:hover{
background-color: white;
}

.link:active{
background-color: #fbc222;
}
/*project page section*/
.proj-sub-header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.proj-sec-header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 1.5%;
}

.proj-intro{
    display: block;
    width: 75%;
    text-align: center;
    margin-top: 10px;
}

.github{
    margin-top: 15px;
    margin-left: 5px;
    width: 2%;
    filter: invert(100%)
}
/*project main content*/ 
.proj-main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nixos-info-section{
    width: 50%;
}

.snippet-heading{
    font-family: 'Gloock', serif;
    color: #f5b603;
}

.nixos-config-link{
    color: #f5b603;
}